@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../assets/fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/roboto-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../assets/fonts/roboto-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/roboto-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/roboto-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/roboto-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/roboto-v19-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* 设置默认行高 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* 设置加粗文本的字体 */
b,
strong {
  font-weight: bolder;
}

/* 去除图片边框 */
img {
  border-style: none;
}

/* 设置页面背景色和字体等样式 */
body {
  font-family: 'Roboto', 'sans-serif';
  background: #FFF;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  color: #282828;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 设置一级标题样式 */
h1 {
  font-size: 64px;
  line-height: 74px;
  font-weight: bold;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

/* 设置三级标题样式 */
h3 {
  font-size: 28px;
  line-height: 37px;
  font-weight: bold;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

/* 设置四级标题样式 */
h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-block-start: 30px;
  margin-block-end: 30px;
}

/* 设置五级标题样式 */
h5 {
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
  color: #757575;
  margin: 0;
}

/* 设置段落样式 */
p {
  margin: 0;
}

/* 设置盒子的外边距 */
.box {
  margin-bottom: 100px;
}

/* 设置描述的外边距 */
.description {
  margin: 30px 0;
}

/* 设置产品展示区的样式 */
.products {
  text-align: center;
}

/* 设置产品展示区的标题样式 */
.products p {
  font-weight: 700;
  margin: 0 0 10px 0;
}

/* 设置产品展示区的图片样式 */
.products img {
  margin-bottom: 10px;
}

/* 设置页面头部样式 */
header {
  background: #000;
  height: 100px;
  padding: 30px;
  margin-bottom: 100px;
  text-align: center;
}

/* 设置页头和页脚中的图片的宽度 */
header img,
footer img {
  width: 158px;
}


/* 设置图片最大宽度 */
img {
  max-width: 100%;
}

.image-container {
  margin-top: 150px; /* 修改元素顶部的外边距 */
  width: 20%; /* 修改元素的宽度为父容器的宽度 */
  height: auto; /* 自适应高度 */
}
#nav-btn {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%; /* 让按钮呈现为圆形 */
  /* 其他样式属性 */

}

#nav-menu {
  position: fixed;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 9999;
}

#nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu li {
  margin-bottom: 10px;
}

#nav-menu a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

#nav-menu a:hover {
  background-color: #f2f2f2;
}


