.body {
  padding: 40px;
  background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
  color: #0e3481;
  min-height: 100vh;
}

.header .lead {
  max-width: 620px;
}

.gallery-item {
  width: 200px;
  padding: 5px;
}

.gallery-item img {
  width: auto;
  height: 800px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container a {
  flex: 0 0 25%;
  padding: 10px;
  box-sizing: border-box;
}

.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container a:hover img {
  border: 2px solid gray;
}

.hide-header #header {
  display: none;
}

#lightgallery {
  margin: 0 auto;
  max-width: 1600px;
}


/* 样式化过滤按钮容器 */
.filter-buttons {
  display: flex;
  flex-wrap: wrap; /* 允许按钮自动换行 */
  justify-content: center; /* 水平居中 */
  margin: 0 auto; /* 居中 */
  max-width: 1700px; /* 限制最大宽度 */
  margin-bottom: 20px; /* 适当的下边距 */
}

/* 样式化过滤按钮 */
.filter-button {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  padding: 10px 15px; /* 按钮内边距 */
  margin: 0 5px 10px 5px; /* 按钮间距，增加底部间距 */
  cursor: pointer;
  border: 1px solid #888; /* 按钮边框 */
  border-radius: 5px; /* 按钮圆角 */
  max-width: 150px; /* 按钮最大宽度 */
}

/* 悬停效果 */
.filter-button:hover {
  background-color: #ccc;
}


.pdf-section {
  clear: both;
}

.pdf-section h4 {
  float: left;
  margin-right: 10px;
}

.pdf-section a {
  float: left;
}

.matterport-container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.matterport-container iframe {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}
